body {
    margin: 0;
}

.icon-1 {
    height: 3vh;
    width: 3vh;
}

.web-header {
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid gray;
}

.search-bar {
    height: 6vh;
    width: 40vw;
    margin: 0 10vw 0 10vw;
    background-color: gray;
    border-radius: 2vh;
}

.horizontal-align {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-text {
    font-family: 'Roboto', sans-serif;
    margin: 0 0 0 2vh;
    font-size: 3vh;
}

.wallet-text {
    font-family: 'Roboto', sans-serif;
    margin: 0 0 0 2vh;
}

.contain-tab{
    height: 4vh;
    width: 4vh;
}

.contain-tab-txt{
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    margin: 0;
    color: gray;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 8vh;
    margin: 0;
    border-bottom: 1px solid gray;
}

.shadow-container {
    background-color: white;
    border-radius: 2vh;
    padding: 1vh;
    box-shadow: 0vh 0vh 2vh #00000022;
  }
  
  .Box {
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .Box-title {
    color: #898989;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2.5vh;
  }