.card-container {
  height: 30vh;
  width: 50vh;
  margin: 2vh;
  box-shadow: 0 0 10px #00000055;
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 0.6fr, 1fr, 0.6fr,0.6,1fr;
  background-color: #eceae8;
  border-radius: 2vh;
}
.icon {
  height: 5vh;
  width: 5vh;
  margin: 2vh 0 0 0;
}
.h11 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: black;
  font-weight: 500;
  font-size: 3vh;
  margin : 2vh,0,0;
  grid-column:2/span3;
  grid-row:2/span1;
}
.icon1 {
  height: 1vh;
  width: 1vh;
}
.icon2 {
  height: 10vh;
  width: 50vh;
}
